   h1 {
            font-size: 54px;
            color: rgb(255, 183, 0);
        }

        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333232;
        }

        .container {
            text-align: center;
        }

        .board {
            display: inline-block;
            border: 2px solid black;
        }

        .row {
            display: flex;
        }

        .cell {
            width: 150px;
            height: 150px;
            border: 3px solid black;
            box-sizing: border-box;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(106, 23, 147, 0.697);
            cursor: pointer;
        }

        .X, .O {
            color: aqua;
        }

        #winnerMessage {
            color: rgb(68, 255, 0);
            font-size: 32px;
            margin-top: 30px;
        }
